body {
    background-color: rgb(221, 221, 221);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgb(31, 31, 134);
    font-size: 4.5rem;
    text-align: center;
}
img {
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
       
}

h3 {
    color: rgb(31, 31, 134);
    font-size: 1.5rem;
}